* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(109, 109, 109);
    color: white;
    transition: .5s ease all;

}
 
nav{
    position: absolute;
    width: 100%;
    
    z-index: 10;
    background-color: #f0f0f0;
    top: 0px;
    color: rgb(2, 1, 1);
   
  }
  article{
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
   /* left: 50%;
    margin-left: -40%;*/
    top: 18.7%;
    background:  #ffffff;
    
  }

  article.activearticulo{
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
   /* left: 50%;
    margin-left: -40%;*/
    top: 18.7%;
    background:  #ffffff;
    margin-top: 300px;
  }

  .Paste{
    position: fixed;
    top: 0;
  }

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    
}

.navbar-links li {
    list-style: none;
    
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: .3s ease all;
    font-weight: 900;
    text-transform: uppercase;
}

#btn-buscar:hover{
    color: #555555;
    background-color: #ffffff; 

}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
#btn-buscar{
  text-transform: uppercase;
transition: .3s ease all;
}
@media (min-width:1120px){
    input[type=text] {
        border-color: #333;
        float: right; /**/
        padding: 6px; /**/
        border: none;
        margin-top: 8px;
        margin-right: 15px;
        font-size: 17px;
        position: absolute  ;/**/
        left: 15%; /**/
        border-radius: 3px;
        
      }
      
    #btn-buscar{
        position:absolute;
        left: 30%;
        bottom: 33%;
        
        background-color: #555555; 
        border: none;
        color: white;
        padding: 10px 32px ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 3px;
        transition: .3s ease all;
    }
    #btn-buscar:hover{
        color: #555555;
        background-color: #ffffff; 
    
    }
}

@media (max-width: 1120px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    input[type=text] {
        border-color: #333;
       
        border: none;
        margin-top: 8px;
        margin-right: 15px;
        font-size: 17px;
       
        border-radius: 3px;
        
      }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links ul li input[type=text]  {
        padding: .5rem 1rem;
    }
    .navbar-links ul li input[type=button]  {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}
.dropdown-menu{
    background-color: black;
   
   
}


.slider{
  width: 95%;
  margin: auto;
  overflow: hidden;

}

.slider ul{
  display: flex;
  padding: 0%;
  width: 400%;
  height: 100px;

  animation: cambio 20s infinite alternate;
  animation-timing-function:ease-in-out;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider img{
  width: 100%;
  height: 75%;
}


@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}

}

/*Quienes somos*/


div#QuienesSomos{
  background-color: rgb(32, 31, 31);
  color: #ffffff;
  position: relative;
  padding: auto;
  margin: 0 0 0 0;
}

div#QuienesSomos h1{
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 55px;
  font-weight: 300;
  padding: auto;
  margin:10px 0 0 0;
}

div#QuienesSomos #infoquienessomos h4{
  text-align: center;
  text-transform: uppercase;
  hyphens: auto;
  font-size: 18px;
  font-weight: 400;
  margin: 25px 250px 55px 250px;/*centrar el texto*/
}

div#QuienesSomos button{
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  right:    45%;
  bottom:   0;
  border: none;
  color: white;
  padding: 13px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 10px 0;
  border-radius: 3px;
  background-color: #555555;
}

@media (max-width: 880px){
  div#QuienesSomos #infoquienessomos h4{
    text-align: center;
    text-transform: uppercase;
    hyphens: auto;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 200px 55px 200px;/*centrar el texto*/
  }
}
@media (max-width: 670px){
  div#QuienesSomos #infoquienessomos h4{
    text-align: center;
    text-transform: uppercase;
    hyphens: auto;
    font-size: 18px;
    font-weight: 400;
    margin: 25px 10px 55px 100px;/*centrar el texto*/
  }
}
/*Categorias*/

div#Categorias h1{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  font-weight:600;
  padding: auto;
  margin:10px 0 0 0;
}

/*Card Categorias*/

.container{
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Card h5{
  color: white;
  text-align: center;
  text-decoration: none;
}

.Card{
  background-color: black;
  width: 270px;
  height: 350px;
  margin: 0px;
  border-radius: 3px 3px 3px 3px;
}

.Card-image{
  background-color: aqua;
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
}
.Card-image img{
  width: 100%;
  
}
/*
.car-1{
  background-image: url(/Media/IsotipoB.PNG);
}

.car-2{
  background-image: url(/Media/IsotipoB.PNG);
}
.car-3{
  background-image: url(/Media/IsotipoB.PNG);
}
*/

a .Card{
  color: white;
  text-decoration: none;
}

.Card:hover{
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s ease;
}



/*Producto gratis en la primera compra*/
div#ProductosGratis h2{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  font-weight:600;
  padding: auto;
  margin:10px 0 0 0;
}

.container2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Card2 h1{
  color: white;
  text-align: center;
  text-decoration: none;
}

.Card2{
  background-color: black;
  width: 570px;
  height: 450px;
  margin: 0px;
  border-radius: 3px 3px 3px 3px;
}

.Card2-image{
  background-color: aqua;
  height: 370px;
  margin-bottom: 15px;
  background-size: cover;
}

.car-4{
  background-image: url(/Media/IsotipoB.PNG);
}

.car-5{
  background-image: url(/Media/IsotipoB.PNG);
}


/*Carousel productos*/
 h2{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  font-weight:600;
  padding: auto;
  margin:10px 0 0 0;
}

.Card3 h3{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-top: 70px;
}
.Card3 h4{
  color: white;
  text-align: center;
  text-decoration: none;
}

.Card3 h5{
  color: white;
  text-align: center;
  text-decoration: none;

}
.Card3 button{
 float: right;
 position: relative;
 right: 30%;
 
 border-radius: 3px 3px 3px 3px;
 background-color: #e7e7e7; color: black;
 border: none;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}
.Card3{
  background-color: black;
  width: 350px;
  height: 450px;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;

}

.Card3-image{
  background-color: aqua;
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
}

.Card-image img{
  height: 180%;
}

.owl-carousel{
 background-color: black;
}



@media (max-width:599px){
  .Card3{
    margin-left: 150px;
  }
}



/*Redes sociales*/

.RedesSociales{
  text-align: center;
}

.RedesSociales a{
  font-size: 40px;
  color: black;
  margin-right: 15px;
}

.RedesSociales a:hover{
  color: #555555;
}


/*Popup*/


.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 display: flex;
 align-items: center;
 justify-content: center;
  visibility: hidden;/*oculta a el mismo y a sus elementos hijos*/

}
.overlay.active{
  visibility: visible;

}
.popup{
  background: #f8f8f8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family:'Montserrat', sans-serif;
  padding: 20px;
  text-align: center;
  width: 700px;
  transition: .6s ease all;
  transform: scale(0.7);
  opacity: 0;/*cuando popup tenga la class active se cambie la opacidad*/


}

.popup .btn-cerrar-popup{
font-size: 16px;
line-height: 16px;
display: block;
text-align: right;
color: #BBBBBB;
transition: .3s ease all;

}
.popup .btn-cerrar-popup:hover{
  color: #000;
}

.popup h3{
font-size: 33px;
font-weight: 600;
margin-bottom: 10px;
opacity: 0;
}

.popup h4{
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}
  
.popup form .contenedor-inputs{
  opacity: 0;
}

.popup form .contenedor-inputs input{
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  line-height: 52px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #BBBBBB;
 
}

.popup form .btn-submit{
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  border:none;
  color: #ffffff;
  background: #5e7ed3;
  border-radius: 3px;
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: .3s ease all;
}

.popup form .btn-submit:hover{
  background: rgba(94, 125, 227, 0.9);
}
/*Animaciones del popup*/

.popup.active{
   opacity: 1;
   transform: scale(1);
   
}

.popup.active h3{
  animation: entradaTitulo .6s ease .5s forwards;
}

.popup.active h4{
  animation: entradaSubTitulo .6s ease .8s forwards;
}

.popup.active .contenedor-inputs{
  animation: entradaInputs 1s ease 1s forwards;
}


@keyframes entradaTitulo{
  from{
    transform: translateY(-25px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaSubTitulo{
  from{
    transform: translateY(25px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaInputs{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************************/
/*Productos*/



div#CabeceraCategs h1{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  font-weight:600;
  padding: auto;
  margin:10px 0 0 0;
}

.categs{
  position: absolute;
  right: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #333;
  width: 80%;
  height: 450px;
  border-radius: 3px;
}

.categs a{
  padding: 0;
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration:none;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
}

.categs h4{
  font-size: 35px;
  font-weight: 400;
}

.CabeceraOrdenarPor {
  position:relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 50px;
  border-radius: 3px;
  bottom: 150px;/*aquí es para mover el combobox y quede más arroba*/
}
@media screen and (max-width:962px){
  .categs a{
    width: 10%;
    display:block;
    margin:auto;
    margin-top: 7px;
  
  }
  .categs h4{
    font-size: 20px;
    display:block;
    margin:auto;
    font-weight: 400;
  }
  .CabeceraOrdenarPor{
    bottom: 150px;
  }
}
/*
.ProductosCateg{
  position: absolute;
  right: 7.5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(17, 17, 17);
  width: 85%;
  height: 1000px;
  border-radius: 3px;
  margin: 50px auto;
  
}

*/




.containercardsprods{
  width: 90%;
  height: auto;
  background-color: rgb(17, 17, 17);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

  position:relative;
  margin: 50px auto;
  
}

.containercardsprods.activee{
  width: 90%;
  height: auto;
  background-color: rgb(17, 17, 17);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

  position:relative;
  margin: 150px auto;
}

@media screen and (max-width:962px){

}

 .box {
  width: 20%;
  height: 450px;/*alto de la card*/
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding-bottom: 90px;

  border-radius: 3px;
  
}
.box img{
  width: 100%;
  width: 100%;
  margin: auto;
 
}

#imgojo{
  width: 15%;
  height: 15%;
  display:block;
  margin:auto;
 
}

.InfoProd{
  text-align: center;
  text-transform: uppercase;
 /* padding-top: 25px;*/

  opacity: 0.7;
}

.InfoProd .btn{
  background-color: #b8b8b8; color: black;
  border: none;
 
  padding: 16px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition-duration: 4s;
}

.InfoProd .btn:hover{
  background-color: #000000; /* Green */
  color: white;
}

@media screen and (max-width:1200px){
  .box{
    width: 40%;
    height: 400px;/*alto de la card*/
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding-bottom: 90px;
    border-radius: 3px;
  }
  .box img{
    width: 80%;
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
    display:block;
  }
  
  
.InfoProd .btn{

}

}


@media screen and (max-width:600px){
  .box{
    width: 90%;
    height: 400px;/*alto de la card*/
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding-bottom: 90px;
    border-radius: 3px;
  }
  .InfoProd h5,h6,h2,a{
    text-align: center;
    text-transform: uppercase;
   /* padding-top: 25px;*/

   font-size: 20px;
    opacity: 0.7;
    padding: 1px 0 1px 0;
  }
  .InfoProd .btn{
    background-color: #b8b8b8; color: black;
    border: none;
   
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 4s;
  }
}


